#tracks-list td {
    vertical-align: middle !important;
}

#analyser {
    
    background: #202020;
    width: 138px;
    height: 34px;
    border-radius : 4px;
    vertical-align: middle;
    /*box-shadow: 0px 0px 10px black;*/
}

#open-video{

}

div.fileinputs {
    position: relative;
}

div.fakefile {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}



div.fileinputs input.file {
    position: relative;
    text-align: right;
    opacity:0 ;
    filter:alpha(opacity: 0);
    opacity: 0;
    z-index: 2;
}