#ttracks-container td {
    vertical-align: middle !important;
}
#stracks-container td {
    vertical-align: middle !important;
}
#analyser {
    background: #eee;
    border-radius: 4px;
    vertical-align: middle;
    float:right;
}

.file-type-chooser {
    padding-bottom: 10px;
}
.control-container {
    border-top: 1px #ddd solid;
    margin: 10px;
    padding: 5px;
}

.video-container {
    border: 1px #ddd solid;
    border-radius: 5px;
    padding: 10px;    
}

.no-video-img{
    width: 100%;
    height: 270px;
}

video{
    width: 100%;
    height: 270px;
}


.shadow{
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
    /*text-align: center;*/
}

.top5 {
    margin-top: 5px;
}
.top7 {
    margin-top: 7px;
}
.top10 {
    margin-top: 10px;
}
.top15 {
    margin-top: 15px;
}
.top17 {
    margin-top: 17px;
}
.top30 {
    margin-top: 30px;
}